<!DOCTYPE html>
<html lang="es"></html>
<meta charset="UTF-8">
<head>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="icon" href="">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <div id="vue">
    <h1>ESP32 Termostato</h1>
    <p>
    <i class="fas fa-thermometer-half"></i> 
     Temperatura: {{temperatura}}
   </p>
   <p>
    <i class="fas fa-tint"></i> Humedad: {{humedad}}
    <sup>&#37;</sup>
  </p>
    <br>
    <p>
      <i class="fas fa-temperature-high"></i>Termostato: {{termostato}}
    </p>
    <p>
      <i class="fas fa-power-off"></i> Relé: 
    <p v-if="this.rele === 1">Encendido</p>
    <p v-else>Apagado</p>      
    <br>
    <label>Temperatura termostato</label>
    <br>
    <input @change="enviarDato" v-model="termostato" type="range" min="14" max="25">
    <br>
    <div>Valor: {{ termostato }}</div>
  </div>
  <script>
    const app = {
      data() {
        return {
          temperatura: '',
          humedad: '',
          termostato: '',
          rele: '',
          connection: new WebSocket('ws://' + location.hostname + ':81/'),
        }
      },
      methods: {
        initWebSocket() {
          console.log('Probando establecer una conexión websocket...');
          this.connection.onopen    = this.onOpen;
          this.connection.onclose   = this.onClose;
          this.connection.onmessage = this.onMessage; // <-- add this line
        },
        onOpen(event) {
          console.log('Conexión establecida');
        },
        onClose(event) {
          console.log('Conexión terminada');
          setTimeout(this.initWebSocket, 2000);
        },
        onMessage(event) {
          var dato = event.data;
          var data = JSON.parse(dato);
          this.temperatura = data.temperatura;
          this.humedad = data.humedad;
          this.termostato = data.termostato;
          this.rele = data.rele;
          console.log(this.temperatura)
          console.log(this.humedad)
          console.log(this.termostato)
          console.log(this.rele)
        },
        enviarDato(){
        var dato = '{"termostato" :'+this.termostato+'}'
        this.connection.send(dato)
      },
      },
      mounted() {
        this.initWebSocket();
      }
    }
    Vue.createApp(app).mount('#vue')
  </script>
</body>
</html>